{loop name="customer_customer_family" type="customer_customer_family" customer_id=$customer_id}
    {assign var="_customer_family_id_" value=$CUSTOMER_FAMILY_ID}
    {assign var="_siret_" value=$SIRET}
    {assign var="_vat_" value=$VAT}
{/loop}

<div class="row" id="customer-family">
    <div class="col-md-12 general-block-decorator">
        <div class="title title-without-tabs">{intl l="Family of this customer" d="customerfamily.bo.default"}</div>

        {form name="customer.customer.family.form"}
        <form action="{url path="/admin/module/CustomerFamily/customer/update/$customer_id"}" method="post">

        {form_hidden_fields}

        {if $form_error}<div class="alert alert-danger">{$form_error_message}</div>{/if}

        {form_field field='customer_id'}
            <input type="hidden" name="{$name}" value="{$customer_id}" />
        {/form_field}

        <div class="row">
            <div class="col-md-4">
            {custom_render_form_field field='customer_family_id'}
                <select {form_field_attributes field='customer_family_id'} class="form-control">
                    {loop name="customer_family" type="customer_family"}
                        <option data-code="{$CODE}" value="{$CUSTOMER_FAMILY_ID}" {if {$_customer_family_id_} == $CUSTOMER_FAMILY_ID}selected{/if}>{$TITLE_CUSTOMER_FAMILY}</option>
                    {/loop}
                </select>
            {/custom_render_form_field}
            </div>
            <div class="col-md-4">{render_form_field field="siret" value=$_siret_}</div>
            <div class="col-md-4">{render_form_field field="vat" value=$_vat_}</div>
        </div>

        <button class="btn btn-default btn-primary" type="submit">
            <span class="glyphicon glyphicon-check"></span>
            {intl l="Update"}
        </button>

        </form>
        {/form}
    </div>
</div>
