{loop name="customer_customer_family" type="customer_customer_family_loop" customer_id=$customer_id}
    {assign var="_customer_family_id_" value=$CUSTOMER_FAMILY_ID}
{/loop}

<div class="row">
    <div class="col-md-12 general-block-decorator">
        <div class="row">
            <div class="col-md-12 title title-without-tabs">{intl l="Family of this customer" d="customerfamily"}</div>
            <div class="col-md-12">
                <div class="col-md-12">
                    {form name="customer_customer_family_form"}
                    <form class="form-horizontal" action="{url path="/admin/module/CustomerFamily/customer/update"}" method="post">

                    {form_hidden_fields form=$form}

                    {if $form_error}<div class="alert alert-danger">{$form_error_message}</div>{/if}

                    {form_field form=$form field='customer_id'}
                        <input type="hidden" name="{$name}" value="{$customer_id}" />
                    {/form_field}

                    {form_field form=$form field='customer_family_id'}
                    <div class="form-group {if $error}has-error{/if}">
                        <label for="{$label_attr.for}" class="control-label group-type-status">{$label} *</label>
                        <div class="control-input">
                            <select name="{$name}" id="{$label_attr.for}" class="form-control">
                                {loop name="customer_family" type="customer_family_loop"}
                                <option data-code="{$CODE}" value="{$CUSTOMER_FAMILY_ID}" {if {$_customer_family_id_|default:null} == $CUSTOMER_FAMILY_ID}selected{/if}>{$TITLE_CUSTOMER_FAMILY}</option>
                                {/loop}
                            </select>
                        </div>
                    </div>
                    {/form_field}

                    <div class="col-md-2">
                        <div class="form-group">
                            <label class="control-label"></label>
                            <button class="btn btn-default btn-primary form-control" type="submit">
                                <span class="glyphicon glyphicon-check"></span>
                                {intl l="Update"}
                            </button>
                        </div>
                    </div>

                    </form>
                    {/form}
                </div>
            </div>
        </div>
    </div>
</div>
