<?xml version="1.0" encoding="UTF-8" ?>

<config xmlns="http://thelia.net/schema/dic/config"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xsi:schemaLocation="http://thelia.net/schema/dic/config http://thelia.net/schema/dic/config/thelia-1.0.xsd">

	<loops>
		<loop name="customer_family" class="CustomerFamily\Loop\CustomerFamilyLoop" />
		<loop name="customer_customer_family" class="CustomerFamily\Loop\CustomerCustomerFamilyLoop" />
		<loop name="customer_family_price" class="CustomerFamily\Loop\CustomerFamilyPriceLoop" />
		<loop name="product_purchase_price" class="CustomerFamily\Loop\ProductPurchasePriceLoop" />
		<loop name="customer_family_pse_calculated_prices" class="CustomerFamily\Loop\CustomerFamilyProductPriceLoop" />
	</loops>

    <services>
        <service id="customer.family.service" alias="CustomerFamily\Service\CustomerFamilyService" public="true"/>
    </services>

</config>
